@model Grade

@{
    ViewData["Title"] = "Grade Creation";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-left" asp-validation-summary="All">
    <form method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name"/>
        </div>
        <div>
            <label asp-for="Address"></label>
            <input asp-for="Address"/>
        </div>
        <div>
            <label asp-for="HourType"></label>            
            @Html.DropDownList(
                "HourType",
                Html.GetEnumSelectList<HourTypes>(),
                "Select hour type",
                new {@class="form-control"}
            )
        </div>

        <input type="submit" />
    </form>
</div>
