@model IEnumerable<Grade>

@{
    ViewData["Title"] = "Grade Information";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-left">
    <partial name="BaseSchoolMulti"></partial>
</div>
