@model School

@{
    ViewData["Title"] = "School Information";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>School name: @Model.Name </h2>

    <p>Year of Creation: @Model.YearOfCreation.</p>
</div>
