@model Course

@{
    ViewData["Title"] = "Course Information";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-left">
    <h2>Course: @Model.Name </h2>
</div>
