@model IEnumerable<Course>

@{
    ViewData["Title"] = "Course Information";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-left">
    @foreach (var course in Model)
    {
        <partial name="CourseSimple" model="course"></partial>        
    }    
</div>
